[submodule "nvim"]
  path = nvim
  url = git@github.com:Ninzalo/nvim.git
  branch = master
[submodule "nix-darwin"]
  path = nix-darwin
  url = git@github.com:Ninzalo/nix-darwin.git
  branch = master
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:Ninzalo/dotfiles-alacritty.git
